body {
    color: red;
    background-color: violet;
}

.top{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: solid 20px;
}

.mid{
    width: 200px;
    height: 200px;
    background-color: greenyellow;
    border: solid 20px;
    margin-left: 200px;
}

.bottom{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: solid 20px;
    margin-left: 400px;
}