body {

    color: #40514e;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat';
}

#title {
    
    color: rgb(9, 255, 0);
}

.nav-list {
    display: inline;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
    color: blueviolet;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
}

.self {
    color:red
}

.details{
    margin:0 auto;
}

.game-image{
    width: 25%;
}